---

x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "1m"
    max-file: "1"
    tag: "{{.Name}}"

x-common-labels: &default-labels
  logging: "promtail"
  logging_jobname: "containerlogs"
  stackname: ${MONITORING_STACK}

services:
  meshcommander:
    ports: !reset []
    expose:
      - 3000
    networks:
      - traefik
    labels:
      <<: *default-labels
      # Enable Traefik for this service
      traefik.enable: true
      # Configure router
      traefik.http.routers.mesh-cmdr.rule: Host(`${MC_HOST}`)
      traefik.http.routers.mesh-cmdr.tls: true
      traefik.http.routers.mesh-cmdr.tls.certresolver: letsencrypt
      # Configure service
      traefik.http.services.mesh-cmdr.loadbalancer.server.port: ${MC_PORT}
    logging: *default-logging
    
networks:
  traefik:
    name: ${NETWORK}
    external: true